<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Page Not Found</title>
    <link rel="icon" href="./public/new_icon.png" type="image/x-icon">
    <link rel="stylesheet" href="./error.css"/>
</head>
<body>
    <div class="error-container">
        <div class="error-code">404</div>
        <div class="error-face">😕</div>
        <div class="error-message">ERROR</div>
        <div class="error-description">SORRY! PAGE NOT FOUND</div>
    </div>
</body>
</html>