{% load static %}
<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tournaments - Pong Game</title>
        <link rel="icon" href="{% static 'images/new_icon.png' %}" type="image/x-icon">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" href="{% static './tournaments.css' %}"/>    
    </head>
    <body>
        <div class="navbar">
            <a href="home/" id="homeId">
                <img alt="HOME" src="{% static '/images/icons8-home-20.png' %}" /> <span id="homeheader">HOME</span>
            </a>
            <a href="profile/" id="profileId">
                <img alt="PROFILE" src="{% static '/images/icons8-customer-20.png' %}" /> <span id="profile">PROFILE</span>
            </a>
            <img class="profile-icon" alt="Profile Picture" id="profileImage" src="" />
            <div class="menu" id="menu">
                <a href="settings/" class="settings" id="settingsId">SETTINGS</a>
                <a href="/" class="logout" id="logoutId">LOG OUT</a>
            </div>
        </div>
            <div class="container">
                <h1 class="header" id="tourn">Tournaments</h1>
                <div class="tournaments-list-container">
                    <div class="tabs">
                        <button class="tab-button active" onclick="openTab(event, 'Users')" id="user">Users</button>
                        <button class="tab-button" onclick="openTab(event, 'Requests')" id="resuest">Requests</button>
                        <button class="tab-button" onclick="openTab(event, 'Tournament')" id="tournament">Tournament</button>
                    </div>
                    <div id="Users" class="tab-content active">
                        <div class="users-list">
                            <div class="friend" data-friend-id="1">
                                <img src="{% static 'images/guest.png' %}" alt="Friend 1" class="friend-picture">
                                <div class="friend-info">
                                    <span class="friend-username">Friend 1</span>
                                    <span class="friend-points">1000 points</span>
                                </div>
                                <button class="invite-button" data-action="details" onclick="invite_user()">Invite</button>
                            </div>
                            <div class="friend" data-friend-id="2">
                                <img src="{% static 'images/guest.png' %}" alt="Friend 2" class="friend-picture">
                                <div class="friend-info">
                                    <span class="friend-username">Friend 2</span>
                                    <span class="friend-points">300 points</span>
                                </div>
                                <button class="invite-button" data-action="details" onclick="invite_user()">Invite</button>
                            </div>
                            <div class="friend" data-friend-id="3">
                                <img src="{% static 'images/guest.png' %}" alt="Friend 3" class="friend-picture">
                                <div class="friend-info">
                                    <span class="friend-username">Friend 3</span>
                                    <span class="friend-points">1500 points</span>
                                </div>
                                <button class="invite-button" data-action="details" onclick="invite_user()">Invite</button>
                            </div>
                            <div class="friend" data-friend-id="4">
                                <img src="{% static 'images/guest.png' %}" alt="Friend 4" class="friend-picture">
                                <div class="friend-info">
                                    <span class="friend-username">Friend 4</span>
                                    <span class="friend-points">3600 points</span>
                                </div>
                                <button class="invite-button" data-action="details" onclick="invite_user()">Invite</button>
                            </div>
                            <!-- Add more friends here -->
                        </div>
                    </div>
                    <div id="Requests" class="tab-content">
                        <div class="users-list">
                            <div class="friend-request" data-request-id="1">
                                <img src="{% static 'images/guest.png' %}" alt="Request 1" class="friend-picture">
                                <div class="friend-info">
                                    <span class="friend-username">Request 1</span>
                                    <button class="accept-button" data-action="accept" onclick="join_user()">Join</button>
                                    <button class="decline-button" data-action="decline" onclick="ignore_user()">Ignore</button>
                                </div>
                            </div>
                            <div class="friend-request" data-request-id="2">
                                <img src="{% static 'images/guest.png' %}" alt="Request 2" class="friend-picture">
                                <div class="friend-info">
                                    <span class="friend-username">Request 2</span>
                                    <button class="accept-button" data-action="accept" onclick="join_user()">Join</button>
                                    <button class="decline-button" data-action="decline" onclick="ignore_user()">Ignore</button>
                                </div>
                            </div>
                            <div class="friend-request" data-request-id="3">
                                <img src="{% static 'images/guest.png' %}" alt="Request 3" class="friend-picture">
                                <div class="friend-info">
                                    <span class="friend-username">Request 3</span>
                                    <button class="accept-button" data-action="accept" onclick="join_user()">Join</button>
                                    <button class="decline-button" data-action="decline" onclick="ignore_user()">Ignore</button>
                                </div>
                            </div>
                            <!-- Add more friend requests here -->
                        </div>
                    </div>
                    <div id="Tournament" class="tab-content">
                        <div class="tournament-join">
                            <button class="join-tournament-button" onclick="joinTournament()">Join Tournament</button>
                            <div class="tournament-users">
                                <h2 id="h2Header">Joined Users:</h2>
                                <div id="tournamentUserList">
                                    <!-- Joined users will be added here -->
                                </div>
                            </div>
                        </div>
                        <button class="start-tournament-button" id="newTournamentButton" style="display: none;" onclick="startNewTournament()" id="start">Start New Tournament</button>
                    </div>
                </div>  
            </div>
        <script src="{% static './tournaments.js' %}"></script>
    </body>
</html> 